/* style.css file */
html,
body {
    margin: 20px;
}
.card {
    width: 200px;
    height: 120px;
    background: #eee;
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}